FLASK_SECRET_KEY=your-secret-key

MYSQL_ROOT_PASSWORD=your-root-password
MYSQL_DATABASE=piskegram
MYSQL_USER=piskegram
MYSQL_PASSWORD=your-mysql-password
MYSQL_HOST=mysql
MYSQL_PORT=3306

S3_BUCKET=your-s3-bucket-name
S3_PREFIX=uploads
AWS_REGION=ap-south-1
